<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Star Catcher!</title>
    </head>
    <body>
    </body>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.min.js"></script> 
    <script type="module" src="/scripts/index.js"></script>
</html>
